<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Smart Attendance</title>
    <!-- link our css file -->
    <link rel="stylesheet" href="/static/style1.css">
</head>

<body>

    <div class="login-container">
    <h2>Login</h2>

    <input type="text" placeholder="Enter Username">
    <input type="password" placeholder="Enter Password">

    <button onclick="window.location.href='/dashboard'">Login</button>

    </div>

    <!-- link our js file -->
    <script src="/static/script1.js"></script>
</body>

</html>