<!DOCTYPE html>
<html>
<head>
    <title>QR Code</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style1.css')}}">
    
</head>

<body>
    <div class="login-container">
        <h2>QR Code</h2>
        <h3>subject: {{subject}}</h3>
        <p id="timer"></p>

        <!-- QR Placeholder -->
        <div class="qr-box">
           <img src="{{ qr_image }}"
        width="200">"
        </div>

        <p>Scan this QR to mark attendance</p>

        <button onclick="window.location.href='/dashboard'" 
                style="background:#007bff;">
            Back to Dashboard
        </button>
    </div>
    <script>

let timeLeft = 30;

function updateTimer() {
    document.getElementById("timer").innerText = "QR valid for: " + timeLeft + " sec";
    
    timeLeft--;

    if (timeLeft < 0) {
        location.reload();
    }
}

setInterval(updateTimer, 1000);
updateTimer();
</script>
</script>
</body>
</html>