<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scan QR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>

<body>
    <div class="login-container">
        <h2>Scanner</h2>
        <p>Student ID / Scan Result:</p>
<form method="POST">
    <input type="text" name="student_id" placeholder="Enter Student ID" required>
    <input type="hidden" name="subject" value="{{subject}}">
    <br><br>

    <button type="submit">Mark Attendance</button>
</form>

        <p id="message" style="font-weight: bold;"></p>

        <button onclick="window.location.href='dashboard'" style="background-color: #007bff;">Back</button>
    </div>

    <script src="script1.js"></script>
</body>

</html>